.env
.env.dev
.env.prod
.venv
.logs
venv
*.pyc
*.pyo
__pycache__/
*.pyd
*.sqlite3
.venv/
venv/
*.log
db.sqlite3
media/
staticfiles/
*.pot
*.mo
celerybeat-schedule
celerybeat.pid
dump.rdb
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
redis.conf
